{% extends 'base.html' %}
{% block content %}

{% load static %}
    <!-- others-head-area-start -->
    <div class="others-head-area oha-about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="others-head">
                        <h2 class="oh-title">About us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- others-head-area-end -->
    <!-- pick-room-area-start -->
    <div class="pick-room-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="pick-room-left">
                        <h2 class="prl-title">Pick a room that <span>best suits</span> your taste</h2>
                        <p class="prl-text">Cras ac quam nec ex scelerisque mollis. Sed euismod malesuada nibh, non ornare tellus egestas vel. Pellentesque ac orci vitae magna mollis sagittis. Etiam sagittis rutrum tortor.</p>
                        <a class="prl-link" href="#">contact us <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1 col-sm-12 hidden-xs">
                    <div class="pick-room-right">
                        <div class="prr-carousel owl-carousel">
                            <div class="prr-box">
                                <div class="prr-img-box">
                                    <img src="img/home1/pick-room-banner.jpg" alt="">
                                    <div class="prr-img-content">
                                        <h3 class="prr-img-content-price">$ 200  /</h3>
                                        <h5 class="prr-img-content-time">night</h5>
                                    </div>
                                </div>
                                <div class="prr-form-area">
                                    <h3 class="prr-form-title">Suoerior villa </h3>
                                    <p class="prr-form-text">Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. </p>
                                    <form action="#">
                                        <div class="prr-form-input">
                                            <!-- <div class="prr-form-input-box prr-fib-select">
                                                <select>
                                                    <option>2 people</option>
                                                    <option>3 people</option>
                                                    <option>4 people</option>
                                                </select>
                                            </div>
                                            <div class="prr-form-input-box prr-fib-input">
                                                <input type="text" id="datepicker6" placeholder="Date">
                                            </div> -->
                                            <input type="submit" value="Book Now">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="prr-box">
                                <div class="prr-img-box">
                                    <img src="img/home1/pick-room-banner.jpg" alt="">
                                    <div class="prr-img-content">
                                        <h3 class="prr-img-content-price">$ 200  /</h3>
                                        <h5 class="prr-img-content-time">night</h5>
                                    </div>
                                </div>
                                <div class="prr-form-area">
                                    <h3 class="prr-form-title">Suoerior villa </h3>
                                    <p class="prr-form-text">Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. </p>
                                    <form action="#">
                                        <div class="prr-form-input">
                                            <div class="prr-form-input-box prr-fib-select">
                                                <select>
                                                    <option>2 people</option>
                                                    <option>3 people</option>
                                                    <option>4 people</option>
                                                </select>
                                            </div>
                                            <div class="prr-form-input-box prr-fib-input">
                                                <input type="text" id="datepicker4" placeholder="Date">
                                            </div>
                                            <input type="submit" value="Book Now">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="prr-box">
                                <div class="prr-img-box">
                                    <img src="img/home1/pick-room-banner.jpg" alt="">
                                    <div class="prr-img-content">
                                        <h3 class="prr-img-content-price">$ 200  /</h3>
                                        <h5 class="prr-img-content-time">night</h5>
                                    </div>
                                </div>
                                <div class="prr-form-area">
                                    <h3 class="prr-form-title">Suoerior villa </h3>
                                    <p class="prr-form-text">Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. </p>
                                    <form action="#">
                                        <div class="prr-form-input">
                                            <div class="prr-form-input-box prr-fib-select">
                                                <select>
                                                    <option>2 people</option>
                                                    <option>3 people</option>
                                                    <option>4 people</option>
                                                </select>
                                            </div>
                                            <div class="prr-form-input-box prr-fib-input">
                                                <input type="text" id="datepicker5" placeholder="Date">
                                            </div>
                                            <input type="submit" value="Book Now">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pick-room-area-end -->
    <!-- service-start -->
    <div class="service-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-1">
                        <div class="service-box">
                            <div class="service-icon">
                                <i class="icofont icofont-soup-bowl"></i>
                            </div>
                            <div class="service-content">
                                <h4>Lexuary Spa</h4>
                                <p>Phasellus tristique vel massa sed faucibus. Integer erat velit, commodo vitae mi quis.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-1">
                        <div class="service-box">
                            <div class="service-icon">
                                <i class="icofont icofont-wifi-router"></i>
                            </div>
                            <div class="service-content">
                                <h4>Free wi-fi</h4>
                                <p>Phasellus tristique vel massa sed faucibus. Integer erat velit, commodo vitae mi quis.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-1">
                        <div class="service-box">
                            <div class="service-icon">
                                <i class="icofont icofont-dining-table"></i>
                            </div>
                            <div class="service-content">
                                <h4>Resturant</h4>
                                <p>Phasellus tristique vel massa sed faucibus. Integer erat velit, commodo vitae mi quis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service-end -->
    <!-- off-book-area-start -->
    <div class="off-book-area bg-with-black">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="off-book-left">
                        <h2>Today <span>25% Off</span> on Hotel room or any Other Events...</h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="off-book-right">
                        <a href="#">Book  Now !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- off-book-area-end -->
    <!-- staff-area-start -->
    <div class="staff-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-xs-12">
                    <div class="staff-area-head">
                        <div class="section-title text-center">
                            <div class="st-icon">
                                <img src="img/home1/section-title-icon.png" alt="">
                            </div>
                            <h2>Our Expert <span>Staff</span></h2>
                            <p>Etiam efficitur, ex vel dignissim rutrum, nibh justo dignissim nisl, sed interdum mauris metus nec ex. Interdum et malesuada fames ac ante ipsum </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-staff">
                        <div class="ss-img">
                            <img src="img/home1/team1.jpg" alt="">
                        </div>
                        <div class="ss-content">
                            <h4 class="ss-content-title">Jenifer Willinger</h4>
                            <h6 class="ss-content-desg">( Manager )</h6>
                            <ul class="ss-content-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-staff">
                        <div class="ss-img">
                            <img src="img/home1/team2.jpg" alt="">
                        </div>
                        <div class="ss-content">
                            <h4 class="ss-content-title">Jenifer Willinger</h4>
                            <h6 class="ss-content-desg">( Manager )</h6>
                            <ul class="ss-content-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-staff">
                        <div class="ss-img">
                            <img src="img/home1/team3.jpg" alt="">
                        </div>
                        <div class="ss-content">
                            <h4 class="ss-content-title">Jenifer Willinger</h4>
                            <h6 class="ss-content-desg">( Manager )</h6>
                            <ul class="ss-content-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- staff-area-end -->
    <!-- event-testimonial-area-start -->
    <div class="event-testimonial-area">
        <div class="event-testimonial-bg-1"></div>
        <div class="event-testimonial-bg-2"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="event-area">
                        <div class="section-title">
                            <h2>Our <span>EVENTS</span></h2>
                            <p>Etiam efficitur, ex vel dignissim rutrum, nibh justo dignissim nisl, sed interdum mauris metus nec ex. Interdum et malesuada fames ac ante ipsum </p>
                        </div>
                        <div class="event-carousel owl-carousel">
                            <div class="ec-box">
                                <img src="img/home1/event-banner.jpg" alt="">
                                <div class="timer-area">
                                    <div data-countdown="2017/10/16"></div>
                                </div>
                            </div>
                            <div class="ec-box">
                                <img src="img/home1/event-banner.jpg" alt="">
                                <div class="timer-area">
                                    <div data-countdown="2017/10/1"></div>
                                </div>
                            </div>
                            <div class="ec-box">
                                <img src="img/home1/event-banner.jpg" alt="">
                                <div class="timer-area">
                                    <div data-countdown="2017/10/30"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="testimonial-area">
                        <div class="section-title">
                            <h2>Testim<span>onials</span></h2>
                            <p>Etiam efficitur, ex vel dignissim rutrum, nibh justo dignissim nisl, sed interdum mauris metus nec ex. Interdum et malesuada fames ac ante ipsum </p>
                        </div>
                        <div class="testimonial-carousel owl-carousel">
                            <div class="testimonial-box">
                                <div class="tb-img">
                                    <img src="img/home1/testimonial-author.jpg" alt="">
                                </div>
                                <div class="tb-content">
                                    <p>Fusce ultricies, tortor et iaculis tristique, diam ex ullamcorper nisi, ac interdum risus erat id metus. Duis dignissim nulla vitae justo iaculis.</p>
                                </div>
                            </div>
                            <div class="testimonial-box">
                                <div class="tb-img">
                                    <img src="img/home1/testimonial-author.jpg" alt="">
                                </div>
                                <div class="tb-content">
                                    <p>Fusce ultricies, tortor et iaculis tristique, diam ex ullamcorper nisi, ac interdum risus erat id metus. Duis dignissim nulla vitae justo iaculis.</p>
                                </div>
                            </div>
                            <div class="testimonial-box">
                                <div class="tb-img">
                                    <img src="img/home1/testimonial-author.jpg" alt="">
                                </div>
                                <div class="tb-content">
                                    <p>Fusce ultricies, tortor et iaculis tristique, diam ex ullamcorper nisi, ac interdum risus erat id metus. Duis dignissim nulla vitae justo iaculis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- event-testimonial-area-end -->
{% endblock %}