{% extends 'base.html' %}
{% block content %}

{% load static %}
    <!-- others-head-area-start -->
    <div class="others-head-area oha-gallery">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="others-head">
                        <h2 class="oh-title">Gallery</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- others-head-area-end -->
    <!-- gallery-details-area-start -->
    <div class="gallery-details-area">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="gallery-details-tab-area">
                        <div class="gd-tab-content tab-content">
                            <div id="gd_tab1" class="tab-pane fade in active">
                                <div class="gd-tab-box">
                                    <img src="img/gallery/details1.jpg" alt="">
                                </div>
                            </div>
                            <div id="gd_tab2" class="tab-pane fade">
                                <div class="gd-tab-box">
                                    <img src="img/gallery/details2.jpg" alt="">
                                </div>
                            </div>
                            <div id="gd_tab3" class="tab-pane fade">
                                <div class="gd-tab-box">
                                    <img src="img/gallery/details3.jpg" alt="">
                                </div>
                            </div>
                            <div id="gd_tab4" class="tab-pane fade">
                                <div class="gd-tab-box">
                                    <img src="img/gallery/details4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <ul class="gd-tabs gd-tab-carousel owl-carousel">
                            <li class="active"><a data-toggle="tab" href="#gd_tab1"><img src="img/gallery/details1.jpg" alt=""></a></li>
                            <li><a data-toggle="tab" href="#gd_tab2"><img src="img/gallery/details2.jpg" alt=""></a></li>
                            <li><a data-toggle="tab" href="#gd_tab3"><img src="img/gallery/details3.jpg" alt=""></a></li>
                            <li><a data-toggle="tab" href="#gd_tab4"><img src="img/gallery/details4.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="gallery-details">
                        <h2 class="gd-title">Classic Hotel Project</h2>
                        <span class="gd-type">public</span>
                        <div class="gd-meta-area">
                            <div class="gd-meta-box">
                                <span><i class="fa fa-user"></i> Client :</span>
                                <p>Jon Willium</p>
                            </div>
                            <div class="gd-meta-box">
                                <span><i class="fa fa-map-marker"></i> Location :</span>
                                <p>20/2 Varck St- New York City - NY - USA</p>
                            </div>
                            <div class="gd-meta-box">
                                <span><i class="fa fa-tags"></i> Catagory  :</span>
                                <a href="#">Planning,</a> <a href="#">Exterior</a> <a href="#">Design</a>
                            </div>
                            <div class="gd-meta-box">
                                <span><i class="fa fa-calendar"></i> Location :</span>
                                <p>28 August , sunday 2016</p>
                            </div>
                        </div>
                        <p class="gd-text">Morbi scelerisque, ipsum quis aliquet dictum, metus nisi facilisis tortor, et pharetra purus ligula at erat. Aliquam lacinia ultrices leo pharetra lacinia. Donec sit amet diam augue. Nunc non massa sed tellus gravida condimentum in non nibh. Donec vitae commodo tellus. Proin nec ex a ante lobortis finibus quis eu neque. Etiam sed sapien metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            <br>
                            <br> Maecenas nisl nunc, semper sed nunc vitae, sagittis euismod dui. Curabitur a enim nibh. Nam nisl felis, scelerisque vitae risus in, consectetur faucibus lacus. Proin semper orci nibh, a venenatis nisl sodales vulputate. Duis cursus lectus et felis ultrices volutpat. Quisque posuere lectus id convallis pulvinar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- gallery-details-area-end -->
    <!-- full-gallery-area-start -->
    <div class="full-gallery-area">
        <div class="full-gallery-box gallery-box">
            <img src="img/gallery/item1.jpg" alt="">
            <div class="gallery-box-content">
                <a class="gbc-img-link" href="img/gallery/item1.jpg" data-fancybox="images">
                                            <i class="fa fa-arrows-alt"></i>
                                            </a>
                <a href="#" class="gb-title">Title here</a>
                <p class="gb-text">Proin rutrum ut augue quis vehicula. Proin sodales dui eget arcu sollicitudin feugiat.</p>
            </div>
        </div>
        <div class="full-gallery-box gallery-box">
            <img src="img/gallery/item2.jpg" alt="">
            <div class="gallery-box-content">
                <a class="gbc-img-link" href="img/gallery/item2.jpg" data-fancybox="images">
                                            <i class="fa fa-arrows-alt"></i>
                                            </a>
                <a href="#" class="gb-title">Title here</a>
                <p class="gb-text">Proin rutrum ut augue quis vehicula. Proin sodales dui eget arcu sollicitudin feugiat.</p>
            </div>
        </div>
        <div class="full-gallery-box gallery-box">
            <img src="img/gallery/item3.jpg" alt="">
            <div class="gallery-box-content">
                <a class="gbc-img-link" href="img/gallery/item3.jpg" data-fancybox="images">
                                            <i class="fa fa-arrows-alt"></i>
                                            </a>
                <a href="#" class="gb-title">Title here</a>
                <p class="gb-text">Proin rutrum ut augue quis vehicula. Proin sodales dui eget arcu sollicitudin feugiat.</p>
            </div>
        </div>
        <div class="full-gallery-box gallery-box">
            <img src="img/gallery/item4.jpg" alt="">
            <div class="gallery-box-content">
                <a class="gbc-img-link" href="img/gallery/item4.jpg" data-fancybox="images">
                                            <i class="fa fa-arrows-alt"></i>
                                            </a>
                <a href="#" class="gb-title">Title here</a>
                <p class="gb-text">Proin rutrum ut augue quis vehicula. Proin sodales dui eget arcu sollicitudin feugiat.</p>
            </div>
        </div>
    </div>
    <!-- full-gallery-area-end -->
{% endblock %}