{% extends 'base.html' %}
{% block content %}

{% load static %}
    <!-- others-head-area-start -->
    <div class="others-head-area oha-rooms">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="others-head">
                        <h2 class="oh-title">rooms & rates</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- others-head-area-end -->
    <!-- page-rooms-area-start -->
    <div class="page-rooms-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="prr-box">
                        <div class="prr-img-box">
                            <img src="img/rooms/pick-room-banner.jpg" alt="">
                            <div class="prr-img-content">
                                <h3 class="prr-img-content-price">$ 200  /</h3>
                                <h5 class="prr-img-content-time">night</h5>
                            </div>
                        </div>
                        <div class="prr-form-area">
                            <h3 class="prr-form-title">Suoerior villa </h3>
                            <p class="prr-form-text">Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor.Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. </p>
                            <form action="#">
                                <div class="prr-form-input">
                                    <!-- <div class="prr-form-input-box prr-fib-select">
                                        <select>
                                            <option>2 people</option>
                                            <option>3 people</option>
                                            <option>4 people</option>
                                        </select>
                                    </div>
                                    <div class="prr-form-input-box prr-fib-input">
                                        <input type="text" id="datepicker5" placeholder="Date">
                                    </div> -->
                                    <input type="submit" value="Book Now">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="prr-box">
                        <div class="prr-img-box">
                            <img src="img/rooms/pick-room-banner2.jpg" alt="">
                            <div class="prr-img-content">
                                <h3 class="prr-img-content-price">$ 200  /</h3>
                                <h5 class="prr-img-content-time">night</h5>
                            </div>
                        </div>
                        <div class="prr-form-area">
                            <h3 class="prr-form-title">Suoerior villa </h3>
                            <p class="prr-form-text">Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor.Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor.</p>
                            <form action="#">
                                <div class="prr-form-input">
                                    <!-- <div class="prr-form-input-box prr-fib-select">
                                        <select>
                                            <option>2 people</option>
                                            <option>3 people</option>
                                            <option>4 people</option>
                                        </select>
                                    </div>
                                    <div class="prr-form-input-box prr-fib-input">
                                        <input type="text" id="datepicker2" placeholder="Date">
                                    </div> -->
                                    <input type="submit" value="Book Now">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="prr-box">
                        <div class="prr-img-box">
                            <img src="img/rooms/pick-room-banner3.jpg" alt="">
                            <div class="prr-img-content">
                                <h3 class="prr-img-content-price">$ 200  /</h3>
                                <h5 class="prr-img-content-time">night</h5>
                            </div>
                        </div>
                        <div class="prr-form-area">
                            <h3 class="prr-form-title">Suoerior villa </h3>
                            <p class="prr-form-text">Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor.</p>
                            <form action="#">
                                <div class="prr-form-input">
                                    <!-- <div class="prr-form-input-box prr-fib-select">
                                        <select>
                                            <option>2 people</option>
                                            <option>3 people</option>
                                            <option>4 people</option>
                                        </select>
                                    </div>
                                    <div class="prr-form-input-box prr-fib-input">
                                        <input type="text" id="datepicker3" placeholder="Date">
                                    </div> -->
                                    <input type="submit" value="Book Now">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="prr-box">
                        <div class="prr-img-box">
                            <img src="img/rooms/pick-room-banner4.jpg" alt="">
                            <div class="prr-img-content">
                                <h3 class="prr-img-content-price">$ 200  /</h3>
                                <h5 class="prr-img-content-time">night</h5>
                            </div>
                        </div>
                        <div class="prr-form-area">
                            <h3 class="prr-form-title">Suoerior villa </h3>
                            <p class="prr-form-text">Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor.</p>
                            <form action="#">
                                <div class="prr-form-input">
                                    <!-- <div class="prr-form-input-box prr-fib-select">
                                        <select>
                                            <option>2 people</option>
                                            <option>3 people</option>
                                            <option>4 people</option>
                                        </select>
                                    </div>
                                    <div class="prr-form-input-box prr-fib-input">
                                        <input type="text" id="datepicker4" placeholder="Date">
                                    </div> -->
                                    <input type="submit" value="Book Now">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-rooms-area-end -->
{% endblock %}