{% extends 'base.html' %}
{% block content %}

{% load static %}
    <!-- others-head-area-start -->
    <div class="others-head-area oha-service">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="others-head">
                        <h2 class="oh-title">Service Details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- others-head-area-end -->
    <!-- service-page-servce-area-start -->
    <div class="sps-details-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="special-service-box ssb-details">
                        <img src="img/service/details-post1.jpg" alt="">
                        <div class="ssb-content">
                            <div class="ssb-content-icon">
                                <img src="img/home1/special-service-icon1.png" alt="">
                            </div>
                            <h3>spa</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="ssb-details-meta">
                        <h2>Braids & Twist</h2>
                        <p>$25.00 Per Head</p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="ssb-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="ssb-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="sd-small-box">
                        <img src="img/service/details-small1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="sd-small-box">
                        <img src="img/service/details-small2.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="sd-small-box">
                        <img src="img/service/details-small3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service-page-servce-area-end -->
{% endblock %}