{% extends 'base.html' %}
{% block content %}

{% load static %}
    <!-- others-head-area-start -->
    <div class="others-head-area oha-staff">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="others-head">
                        <h2 class="oh-title">Staff Details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- others-head-area-end -->
    <!-- sp-staff-details-area-start -->
    <div class="sp-staff-details-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-5 col-xs-12">
                    <div class="sp-sd-left">
                        <img src="img/staff/team1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-8 col-sm-7 col-xs-12">
                    <div class="sp-sd-content">
                        <h4 class="sp-sdc-title">Jenifer Willinger</h4>
                        <h6 class="sp-sdc-desg">( room services)</h6>
                        <div class="sp-sd-meta">
                            <p><span><i class="fa fa-mobile"></i></span>(+123) 2456 987</p>
                            <p><span><i class="fa fa-envelope-o"></i></span>yourmail@gmail.com</p>
                        </div>
                        <div class="sp-sd-share">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <p class="sp-sd-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="service-1">
                                    <div class="service-box">
                                        <div class="service-icon">
                                            <i class="icofont icofont-soup-bowl"></i>
                                        </div>
                                        <div class="service-content">
                                            <h4>Lexuary Spa</h4>
                                            <p>Phasellus tristique vel massa sed faucibus. Integer erat velit, commodo vitae mi quis.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="service-1">
                                    <div class="service-box">
                                        <div class="service-icon">
                                            <i class="icofont icofont-wifi-router"></i>
                                        </div>
                                        <div class="service-content">
                                            <h4>Free wi-fi</h4>
                                            <p>Phasellus tristique vel massa sed faucibus. Integer erat velit, commodo vitae mi quis.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sp-staff-details-area-end -->
    <!-- staff-area-start -->
    <div class="staff-area sd-staff-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="staff-area-head">
                        <div class="section-title">
                            <h2>Our Expert <span>Staff</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-staff">
                        <div class="ss-img">
                            <img src="img/home1/team1.jpg" alt="">
                        </div>
                        <div class="ss-content">
                            <h4 class="ss-content-title">Jenifer Willinger</h4>
                            <h6 class="ss-content-desg">( Manager )</h6>
                            <ul class="ss-content-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-staff">
                        <div class="ss-img">
                            <img src="img/home1/team2.jpg" alt="">
                        </div>
                        <div class="ss-content">
                            <h4 class="ss-content-title">Jenifer Willinger</h4>
                            <h6 class="ss-content-desg">( Manager )</h6>
                            <ul class="ss-content-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-staff">
                        <div class="ss-img">
                            <img src="img/home1/team3.jpg" alt="">
                        </div>
                        <div class="ss-content">
                            <h4 class="ss-content-title">Jenifer Willinger</h4>
                            <h6 class="ss-content-desg">( Manager )</h6>
                            <ul class="ss-content-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- staff-area-end -->
{% endblock %}