{% extends 'base.html' %}
{% block content %}

{% load static %}
    <!-- others-head-area-start -->
    <div class="others-head-area oha-staff">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="others-head">
                        <h2 class="oh-title">Service Staff</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- others-head-area-end -->
    <!-- staff-page-staff-area-start -->
    <div class="staff-page-staff-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-staff">
                        <div class="ss-img">
                            <img src="img/staff/team1.jpg" alt="">
                        </div>
                        <div class="ss-content">
                            <h4 class="ss-content-title">Jenifer Willinger</h4>
                            <h6 class="ss-content-desg">( Manager )</h6>
                            <ul class="ss-content-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-staff">
                        <div class="ss-img">
                            <img src="img/staff/team2.jpg" alt="">
                        </div>
                        <div class="ss-content">
                            <h4 class="ss-content-title">Jenifer Willinger</h4>
                            <h6 class="ss-content-desg">( Manager )</h6>
                            <ul class="ss-content-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-staff">
                        <div class="ss-img">
                            <img src="img/staff/team3.jpg" alt="">
                        </div>
                        <div class="ss-content">
                            <h4 class="ss-content-title">Jenifer Willinger</h4>
                            <h6 class="ss-content-desg">( Manager )</h6>
                            <ul class="ss-content-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-staff">
                        <div class="ss-img">
                            <img src="img/staff/team4.jpg" alt="">
                        </div>
                        <div class="ss-content">
                            <h4 class="ss-content-title">Jenifer Willinger</h4>
                            <h6 class="ss-content-desg">( Manager )</h6>
                            <ul class="ss-content-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-staff">
                        <div class="ss-img">
                            <img src="img/staff/team5.jpg" alt="">
                        </div>
                        <div class="ss-content">
                            <h4 class="ss-content-title">Jenifer Willinger</h4>
                            <h6 class="ss-content-desg">( Manager )</h6>
                            <ul class="ss-content-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-staff">
                        <div class="ss-img">
                            <img src="img/staff/team6.jpg" alt="">
                        </div>
                        <div class="ss-content">
                            <h4 class="ss-content-title">Jenifer Willinger</h4>
                            <h6 class="ss-content-desg">( Manager )</h6>
                            <ul class="ss-content-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- staff-page-staff-area-end -->
    <!-- bottom-banner-area-start -->
    <div class="bottom-banner-area bg-with-black">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12">
                    <div class="bottom-banner-content">
                        <h2>Writers really live in the mind and in <span>hotels of the soul.</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bottom-banner-area-end -->
 {% endblock %}